body {
  background-color: rgba(15,30, 85,.8);
}
h1 {
  text-align: center; 
  font-family: helvetica;
  background-color:rgba(30,80,35,.7);
  border: solid 5px;    
  border-color:rgba(80,20,25,.9);
  padding: 30px;
  margin: 0px;
}
h2 {
  
}
p {
 text-align: center;
 font-family: arial;
 font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

















